pages/__pycache__/view_saves.cpython-312.pyc
.nicegui/storage-user-1b56b1cc-ce40-43b4-80c7-3627e770bc2c.json
.nicegui/storage-user-250f8f19-4d32-4e9c-93c1-132165a646c0.json
.nicegui/storage-user-267fc5ec-403d-4bbe-997a-d28f078d39b3.json
.nicegui/storage-user-55384ebd-81f9-4dc2-bdec-54eaa21008f5.json
.nicegui/storage-user-2d7c6c38-b2e4-4ac5-87d8-8cad4f352422.json
/.nicegui
/elements/__pycache__
/elements/__pycache__
